<mat-tab-group dynamicHeight mat-stretch-tabs>
  <mat-tab *ngFor="let tab of tabs" label="Upcoming">
    <ng-template mat-tab-label>
      <mat-icon>{{tab.icon}}</mat-icon>
      <span class="tab-title">{{tab.title}}</span>
      <span class="tab-title">({{(tab?.data | async)?.length || 0}})</span>
    </ng-template>
    <app-travel-list (refresh)="refresh()" [travels]="tab.data | async"></app-travel-list>
  </mat-tab>
</mat-tab-group>

<button (click)="openDialog()" aria-label="icon-button with a add icon"
        class="add-btn"
        mat-fab>
  <mat-icon>add</mat-icon>
</button>
