:host {
  width: 100%;
  display: inline-block;
  height: 100%;

}

.centre {
  display: flex;
  justify-content: center;
  align-content: center;
}

.travel-card {
  max-width: 400px;
  margin: 20px;
}

.travel-image {
  max-height: 300px;
}

.footer-button {
  display: flex;
  justify-content: flex-end;
}
