<div class="columns is-multiline">
  <mat-card *ngFor="let travel of travels"
            class="column is-one-third-desktop is-half-tablet travel-card">
    <mat-card-header class="mat-card-header">
      <div class="mat-card-title">
          <span>
                {{travel.name}}
          </span>
      </div>
    </mat-card-header>
    <mat-card-content>
      <figure class="image is-square">
        <img [alt]="travel.name" [src]="travel.photo" class="is-rounded">
      </figure>
    </mat-card-content>
    <mat-card-actions>
      <div class="footer-button">
        <button (click)="delete(travel.id)" aria-label="icon-button with a trash icon" mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
        <ng-container *ngIf="!travel.done">
          <button (click)="markAsDone(travel.id)" aria-label="icon-button with a done icon" mat-icon-button>
            <mat-icon>done</mat-icon>
          </button>
        </ng-container>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
