.centre {
  display: flex;
  justify-content: center;
  align-content: center;
}

.travel-card {
  max-width: 400px;
  margin: 20px;
}

.footer-button {
  display: flex;
  justify-content: flex-end;
}
