.centre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  text-decoration: none;
  color: inherit;
}

.code {
  padding-left: 20px;
  font-size: 12px;
  color: inherit;
}
